@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* importatin Polices*/ 
@font-face {
  font-family: "meteora";
  src: url("MeteoraRocky.ttf");
}

@font-face {
  font-family: "antik";
  src: url("SteinAntik-Bold.ttf");
}

@font-face {
  font-family: "ceasar";
  src: url("CaesarDressing-Regular.ttf");
}

/* importatin Polices*/ 

body {
  margin: 0;
  font-family: 'antik', sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}


h1, h2 {
  text-align: center;
  font-family: 'ceasar';
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
}

.titre  {
  font-family: 'meteora', sans-serif;
  font-size: 60px;
}

/* CSS Footer*/

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f76c6c;
  padding-top: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  color: white;
  font-family: 'antik', sans-serif;
  font-size: 15px;
}

/* *******************  */

/* CSS Form */

.form {
  margin: 0 auto;
}

.form-control {
  font-family: 'antik', sans-serif;
  font-size: 15px;
  
}
/* *******************  */

/* CSS table */
.table {
  margin-bottom: 100px;
}

th {
  font-family: 'ceasar', sans-serif;
}

tr {
  font-family: 'antik', sans-serif;
}

td span {
  font-family: 'ceasar', sans-serif;
  font-size: 20px;
}
/* *******************  */